body
{
    font-family: iraniansans;
    background: white;
    font-size : 12px;
    direction: rtl;
    color: #7b7c7c;
}
.navbar
{
    background: #BD0000 url('header.png') no-repeat right top;
    margin: 0px;
}
.navbar-nav li.dropdown > a
{
    color: #ffffff !important;
}
.navbar-nav li.dropdown > a:hover
{
    color : yellow !important;
    background-color :  #800102;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
    color : yellow !important;
    background-color :  #800102;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #ffffff !important;
    border-top-color: #ffffff !important;
}
.search_button
{
    border-radius: 5px 0 0 5px !important;
}
.search_box
{
    border-radius: 0 5px 5px 0 !important;
    margin-right: 15px;
}
.search_area
{
    padding-top: 10px;
}
.navbar-brand
{
    color : yellow !important;
}
#content
{
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
#menu_container 
{
    font-family: "Titr",arial,verdana,arial,helvetica,clean,sans-serif;
    font-size: 15px;
}
.main_block
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main_block h1
{
    border-radius: 5px;
    color: #000000;
    display: block;
    font-size: 21px;
    padding: 7px 8px;
    text-align: center;
}
.block_content
{
    text-align: justify;
    color: black;
    font-size: 15px;
}
.title_1
{
    background-color: #A5C85B;
}
.title_2
{
    background-color: #FDB144;
}
.title_3
{
    background-color: #3465A4;
}
.title_4
{
    background-color: #BECA0D;
}

.entry {
    background-color: #EEEEEE;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.entries {
    padding: 0;
    list-style: none outside none;
}
.entry_title
{
    float: right;
}
.entry .date {
    float: left;
    font-size: 16px;
}
.footer
{
    text-align: center;
    font-size : 14px;
    margin : 0px;
    margin-top: 25px;
    color : black;
    font-weight: bold;
}
#sessions
{
    list-style: none;
    padding-right: 0;
}
div.title
{
    float:right;
}
.photo
{
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    max-height: 400px;
    max-width: 500px;
}
